* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-color: #003B46;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    transition: .5s;
}

.button-box {
    width: 234px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #24fffd4a;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #37879a, #3cdaff);
    border-radius: 30px;
    transition: .5s;
}

.social-icos {
    margin: 30px auto;
    text-align: center;
}

.social-icos img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #37879a, #3cdaff);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

body {
    background: #f0f8ff;
}

.sp-check {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

#notification-area {
    position: fixed;
    top: 0px;
    right: 10px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#notification-area .notification {
    padding: 15px 10px;
    background: #111;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px 0px;
}

#notification-area .notification.success {
    background: #389838;
}

#notification-area .notification.error {
    background: orangered;
}

#notification-area .notification.info {
    background: #00acee;
}

.center-text {
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 700px;
    height: 42px;
    border-radius: 5px;
    box-shadow: 0 0 20px 9px #07575B;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #f0f8ff;
}

.card {
    margin: 15px;
    background-color: #609bdf;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.new-card {
    border: 2px solid black;
}

.new-card .imgContainer {
    border: 1px dashed rgba(70, 70, 70, 0);
}

.card:hover {
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, .8);
    cursor: pointer;
}

.card .imgContainer {
    width: 100%;
    height: 200px;
    border: 1px dashed rgba(70, 70, 70, 0.986);
    overflow: hidden;
    position: relative;
}

.card .imgContainer img {
    width: 100%;
}

.infoBox .title {
    font-weight: 200;
    color: #111;
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
}

.edit-course {
    height: 25px;
    border-radius: 6px;
}

.ghost {
    opacity: .2;
}

.chosen {
    cursor: help;
}

.blok-blocks {
    position: relative;
}

.context {
    position: absolute;
    width: 873px;
    height: 1117px;
    left: calc(50% - 873px/2 + 0.5px);
    top: 0px;
}

.course-info {
    position: absolute;
    width: 919px;
    height: 200px;
    left: 18px;
    top: 5px;
}

.course-img {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 18px;
    top: 53px;
    background: #C4C4C4;
}

.course-name {
    position: absolute;
    width: 588px;
    height: 72px;
    left: 120px;
    top: 60px;
    font-family: Chenla;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 74px;
    color: #000000;
}

.course-descrption {
    position: absolute;
    width: 503px;
    height: 121px;
    left: 122px;
    top: 132px;
    font-family: Chenla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.blocks-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 700px;
    height: 780px;
    left: calc(50% - 700px/2 + 0.5px);
    top: calc(50% - 780px/2 + 111.5px);
}

.block-item {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 18px;
    position: static;
    width: 700px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(96, 155, 223, 0.84);
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
    margin-bottom: 10px;
    transition-duration: 10ms;
}

.block-item:hover {
    transform: scale(0.99);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 10ms;
}

.progress-ring {
    transform: scale(-1, 1);
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.block-item-name {
    margin-right: 6px;
    font-size: 18px;
}

.context-ex {
    margin-top: 80px;
    margin: 0 auto;
    width: 870px;
    height: 100%;
}

.steps-view {
    position: relative;
    display: inline-block;
    background: #E4F3FF;
    border: 0.5px solid #302E30;
    box-sizing: border-box;
    border-radius: 3px;
}

.active {
    background: #37E63E;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.notactive {
    background: #93AAA6;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.active:hover {
    background-color: #2db832;
}

.notactive:hover {
    background-color: #6c7a78;
}

.step-title {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 32px;
}

.ex-text {
    margin-top: 10px;
    font-size: 21px;
}

.ex-input {
    margin-top: 80px;
    width: 100%;
    height: 45px;
    background: #B6DBF5;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 28px;
    text-indent: 10px;
}

.btn-send-ans {
    margin-top: 10px;
    float: right;
    width: 130px;
    height: 45px;
    font-size: 18px;
    background: #6BD890;
    border: 1.px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 20px;
}

.btn-send-ans:active {
    background-color: #4db16f;
}

.long-input {
    min-height: 45px;
    height: 200px;
    resize: vertical;
}

.radio-ans {
    vertical-align: middle;
    margin-bottom: 10px;
    width: 100%;
    min-height: 45px;
    background: #B6DBF5;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 28px;
    text-indent: 10px;
}

.ans-list {
    margin-top: 40px;
    font-size: 28px;
}

.ans-list .radio-btn {
    margin-top: 8px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.yt-video {
    position: relative;
    margin-top: 20px;
}

.imgs-list {
    margin-top: 20px;
}

.theory-img {
    width: 800px;
    height: 400px;
    object-fit: contain;
    margin-bottom: 10px;
}

.dwn-file {
    margin-top: 20px;
    width: 100%;
    min-height: 60px;
    background: #DAE7FA;
    border: 0.8px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

.file-name {
    margin-left: 15px;
    text-align: left;
    font-size: 28px;
    display: inline-block;
    margin-top: 10px;
    width: 780px;
}

.dwn-ic {
    vertical-align: middle;
    float: inline-end;
}

.file-size {
    text-align: right;
}