{% extends 'base.html' %}
 
{% block content %}
{{ super() }}

<div id="notification-area">
	<div class="notification success">
		Demo notification
	</div>
	<div class="notification error">
		Demo notification
	</div>
	<div class="notification info">
		Demo notification
	</div>
</div>


<script type="text/javascript">
	
	

function notifySuccess(){
  notify("success","This is demo success notification message");
}
function notifyError(){
  notify("error","This is demo error notification message");
}
function notifyInfo(){
  notify("info","This is demo info notification message");
}

</script>

{% endblock %}