{% extends 'base.html' %} {% block content %} {{ super() }}
<div class="blok-blocks">
    <div class="context">
        <div class="course-info">
            <div class="course-name">Название некого курса</div>
            <div class="course-descrption">Описание самого обычного курса не понятно тольео зачем оно сдесь ведь и без него всё понятно</div>
        </div>
        <div class="blocks-list">
            <div class="block-item">
                <div class="block-item-name">Название блока</div>
            </div>

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/blocks.js')}}"></script>
{%endblock %}