{% extends 'base.html' %} {% block content %} {{ super() }}
<div class="blok-blocks">
    <div class="context">
        <div class="course-info">
            <div class="course-name">{{course_name}}</div>
            <div class="course-descrption">{{course_description}}</div>
        </div>


        <div class="blocks-list">


            {% for m in moduls %}
            <div onclick="goBlock({{m['id']}})" class="block-item">
                <div class="block-item-name">{{m['name']}}</div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    function goBlock(id) {
        document.location.href = document.location.pathname + "/" + id + "/-1"
    }
</script>

<script src="{{ url_for('static', filename='js/blocks.js')}}"></script>
{%endblock %}