{% extends 'base.html' %} {% block content %} {{ super() }}



<div class="container" id="listWithHandle">
    {% for c in courses %}
    <div class="card list-group-item glyphicon glyphicon-move" id="card_{{ i }}" onclick="gotoCourse({{ c['id'] }})">

        <div class="infoBox">
            <div class="rating"></div>
            <h2 class="title">{{ c['name'] }}</h2>
            <h5 class="author-name">{{ c['auther_name'] }}</h5>
        </div>
    </div>
    {% endfor %}

    <a class="card add-course-card" href="{{url_for('add_course')}}">
        <div class="infoBox">
            <h1 class="title add-course-title">+</h1>
        </div>
    </a>
</div>

<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js "></script>

<script src="{{ url_for( 'static', filename='js/courses.js' )}} "></script>


{% endblock %}