{% extends 'base.html' %} {% block content %} {{ super() }}

<div class="blok-blocks">
    <div class="context">
        <div class="course-info">
            <div class="course-name">{{course_name}}</div>
            <div class="course-descrption">{{course_description}}</div>
        </div>
        <div class="blocks-list">
            Код курса:
            <input readonly class="course-code" type="text" value="{{course_code}}" id="myInput" onclick="copy();">
            <p></p>


            {% for m in moduls %}
            <div class="block-item">
                <div class="block-item-name">{{m['name']}}</div>
            </div>
            {% endfor %}


            <form class="block-item" method="post">
                <div class="block-item-name">Новый блок: </div> <input name="name" required type="text" class="input-block-name" placeholder="Введите название блока...">
                <button type="submit" class="block-create-btn">+</button>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/blocks.js')}}"></script>
<script>
    function copy() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Код курса скоприрован в буфер обмена: " + copyText.value);
    }
</script>

{%endblock %}