{% extends 'base.html' %} {% block content %} {{ super() }}
<div class="steps-view st" id="st">
    <button class="step active"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
</div>

<div class="context-ex">


    <h1 class="step-title">Название темы</h1>

    <div class="ex-text">Сколькими способами можно переставить числа от 1 до 100 так, чтобы соседние числа отличались не более, чем на 1?</div>

    <input class="ex-input st" id="st" type="text" placeholder="Введите свой ответ...">
    <p></p>
    <button class="btn-send-ans" onclick="console.log('clck')">Отправить</button>

</div>


<script>
    var stpv = document.getElementsByClassName('st');
    for (const el of stpv) {
        el.style = "left: calc(50% - " + el.offsetWidth + "px / 2);";
    }
</script>

{%endblock %}