{% extends 'base.html' %} {% block content %} {{ super() }}



<div class="container" id="listWithHandle">
    {% for c in curses %}
    <div class="card list-group-item glyphicon glyphicon-move" id="card_{{ c['id'] }}" onclick="gotoEditCourse({{ c['id'] }})">

        <div class="infoBox">
            <div class="rating"></div>
            <h2 class="title">{{ c['name'] }}</h2>
            <h5 class="author-name">{{ c['auther_name'] }}</h5>
        </div>
    </div>
    {% endfor %}

    <div class="card new-card" onclick="document.location.href = '/newcourse'">
        <div class="infoBox">
            <div class="rating"></div>
            <h1 class="title">Создать курс</h1>
        </div>

    </div>
</div>

<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<script src="{{ url_for('static', filename='js/courses.js')}}"></script>


{% endblock %}