{% extends 'base.html' %} {% block content %} {{ super() }}
<div class="steps-view st" id="st">
    <button class="step active"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
    <button class="step notactive"></button>
</div>

<div class="context-ex">


    <h1 class="step-title">Название темы</h1>

    <div class="ex-text">Бит - это наименьшая единица информации. это количество информации, необходимое для однозначного определения одного из двух равновероятных событий (Да/Нет). В информатике принято рассматривать последовательности длиной 8 бит. Такая последовательность
        называется байтом. С помощью одного байта можно записать двоичные коды событий (Да/Нет).</div>


    <div class="imgs-list">
        <img src="{{ url_for('static', filename='img/2.jpg')}}" class="theory-img">
        <img src="{{ url_for('static', filename='img/2.jpg')}}" class="theory-img">
    </div>

</div>


<script>
    var stpv = document.getElementsByClassName('st');
    for (const el of stpv) {
        el.style = "left: calc(50% - " + el.offsetWidth + "px / 2);";
    }
</script>

{%endblock %}